
  body{
    background-color: #F3F1F5;
  }
  h1{
      color:#BFA2DB;
      font-family: 'Segoe UI';
  }
  h3{
      color: #BFA2DB;
  }
  hr{
  
    color:  #F0D9FF;
    border-style: none;
    border-top-style:dotted;
    border-width:5px;
    height: 0 px;
    width: 10%;
    
  }

